# fly.toml app configuration file generated for ramrose-fasf8g on 2025-12-25T15:04:40Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ramrose-fasf8g'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[http_service.concurrency]
  type = 'connections'
  hard_limit = 100
  soft_limit = 80

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
